.nav {
  font-family: 'Helvetica';
}

.nav.nav-tabs {
  float: right;
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.nav ul {
  margin: 20px;
  
}

.tab-content {
  margin: 20px;
}
