.nav {
  font-family: 'Helvetica';
}

.nav.nav-tabs {
  float: right;
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.nav ul {
  float: right;
}

.tab-content {
  padding: 10px;
  border:1px solid #ddd;
  border-bottom:0px;
}
